[2017-10-13 00:59] scrabill opened #1 "Enhancement: Design a better looking page"
This page isn't nearly spooky enough! I'm open to ideas on a better layout, design, colors, etc.

Preferably, I'd like to keep using the Bootstrap framework.

[2017-10-13 01:50] scrabill opened #2 "Documentation: Update CONTRIBUTE.md"
Include the following

- How to contribute
- What is currently there / how it works
- Links to resources

[2017-10-13 01:57] scrabill opened #3 "Enhancement: Add link to github repo to index.html"
Similar to the [footnote on this page](http://shannoncrabill.com/pay-day/) add a link to the Github repo to the index.html page

1. Fork the repo
2. Download all files
3. Open Index.html
4. Add the following (or something similar) to the end of the <p> starting with "Powered by.."

`Fork this on <a href="https://github.com/scrabill/how-many-days-until-halloween">Github</a>`

6. Commit change
7. Op

[2017-10-13 02:18] scrabill opened #5 "Enhancement: Revise JS so that only 10/31 counts as Halloween"
Currently, the logic is set up so the Halloween message will display if it is the 31st day in the month, regardless of what month it is.

Some pseudocode ideas to get you started

- Get current month
- If month is not October, then, do not display Halloween message
- If month is October, continue with existing logic

[2017-10-13 02:53] scrabill opened #7 "Enhancement: Randomize <h2> text on page load"
This one is a bit of a challenge. It'll involve more knowledge of Javascript and the DOM.

The text on the `<h2>` tag is currently static. Some randomly generated "Spooky" messaging may be fun.

- Fork this repo
- Download all files

Here's some pseudo code to get you started

- Create a list of possible text
- Randomly generate a number equal to the number of items in the list
- Pick an item from

[2017-10-13 02:55] solodynamo commented on #5
Working on this.

[2017-10-13 03:48] mathagician commented on #1
@scrabill I have some suggestions.

Text **Powered by Boo-t-strap, Javascript and Spookiness!** at the bottom.
Also, a counter can be put which should change the theme of page on daily basis
Adding a background video would be a nice thing to have.
 and update the libraries like bootstrap, jquery with latest versions.

[2017-10-13 07:46] arijitAD commented on #5
I will take this.

[2017-10-13 08:01] arijitAD commented on #5
Added condition.
https://github.com/scrabill/how-many-days-until-halloween/pull/15

[2017-10-14 23:44] scrabill opened #20 "Documentation: Add contributor page"
It may be nice to have a page where all contributors to this repo can add include their username and link to their Github page.

If someone wants to tackle this, here is an example
- [HacktoberFest-Census](https://github.com/scrabill/Hacktoberfest-Census)

If you are a first-time git contributor, message me and I can help you get this set up. Feel free to ask questions below.

[2017-10-15 00:37] hoffmanjoshua commented on #20
I can work on this!

[2017-10-16 17:01] paniya opened #24 "Can't push the update"
Please suggest the steps!

[2017-10-16 17:48] paniya commented on #1
Hi like to contribute!
I do have page with me!
can please add me so i can push them

[2017-10-16 17:51] paniya commented on #20
I can help you

[2017-10-17 23:16] altruisticnarcissist commented on #1
Hi, I would like to help!

[2017-10-18 02:11] #5 closed

[2017-10-18 02:14] #20 closed

[2017-10-19 22:30] scrabill opened #26 "Documentation: Check spelling on CONTRIBUTING.md"
There are a few typos and misspellings on the CONTRIBUTING.md page.

I'm reserving this issue for any first-timers or code newbies who want to practice using git and making pull requests.

If you need help comment below and I'll help you to get started!

[2017-10-19 22:43] scrabill commented on #1
@mathagician @paniya @altruisticnarcissist

Hi everyone! Thank for putting up with delays--this project got way more responses then I was expecting.

I'm going through commits in order (oldest to newest) and there have been a few other contributions. The bootstrap / jquery libraries should be up to date but changes to the overall layout, colors, etc, are still welcome.

[2017-10-19 22:48] jameslave commented on #26
I can do that. 👍

[2017-10-19 22:56] tomasswood commented on #26
Happy to do this one, let me know :)

[2017-10-19 23:20] kaysiz commented on #24
can explain a little bit

[2017-10-19 23:36] Jared-Peacock commented on #26
I've never made a pull request and would like to start here - please choose me! :)

[2017-10-19 23:53] scrabill commented on #26
@Jared-Peacock @tomasswood

It looks like someone else already made this edits. I'm sure there are other errors elsewhere if you wanted to take a look.

[2017-10-19 23:56] scrabill commented on #3
@Jared-Peacock

It looks like this edit got overwritten in a recent update. You're welcome to add it back in again.

[2017-10-20 00:03] #2 closed

[2017-10-20 00:04] #7 closed

[2017-10-20 00:09] scrabill opened #32 "Documentation: Comment all of the things!"
The code for this project has changed dramatically since I first pushed it to Github last week.

But it's also not 100% clear on what does what (I'm looking at you [script.js](https://github.com/scrabill/how-many-days-until-halloween/blob/master/js/script.js))

This is a bigger issue that may need to be broken into chunks.

I'd like to see commenting around functions outlining what they do, what d

[2017-10-20 00:13] scrabill opened #33 "Enhancement: Add link to CONTRIBUTING.md to README.md"
Simple edit for anyone looking to practice creating pull requests.

1. Fork the repo
2. Download all files
3. Open README.md
4. Add the following (or something similar) to README.md

`<a href="https://github.com/scrabill/how-many-days-until-halloween/blob/master/CONTRIBUTING.md">Contributing Guidelines</a>`

5. Commit change
6. Open a pull request

Questions can be asked here

[2017-10-20 00:15] scrabill opened #34 "Enhancement: Add link to Contributors-list.md to README.md"
Simple edit for anyone looking to practice creating pull requests.

1. Fork the repo
2. Download all files
3. Open README.md
4. Add the following (or something similar) to README.md

`<a href="https://github.com/scrabill/how-many-days-until-halloween/blob/master/contributer-list.md">Contributors List</a>`

5. Commit change
6. Open a pull request

Questions can be asked here

[2017-10-20 00:16] virenb commented on #34
I'd like to give this a try.

[2017-10-20 00:26] RudyB commented on #3
Check #37

[2017-10-20 00:26] RudyB commented on #33
check #35

[2017-10-20 01:36] nbuss848 commented on #32
I can start some documentation why not

[2017-10-20 23:29] #34 closed

[2017-10-20 23:33] scrabill commented on #33
@RudyB You have the correct link, it just needs to be on the README file not contributer-list.md. If you can make that correction I'll add that in.

[2017-10-20 23:34] #3 closed

[2017-10-20 23:36] #32 closed

[2017-10-21 00:02] scrabill opened #52 "Documentation: Create CHANGELOG.md"
Since this project was posted on Github there have been several updates.

Instead of cluttering up the README.md file, the updates may be better suited in a CHANGELOG.md file. This way, updates with added features, etc, can be seen in one place. The template for the changelog can include:

- Date
- List of features added (or removed)
- Screenshot to show changes (optional)

Here's an idea of what

[2017-10-21 00:05] scrabill opened #53 "Documentation: Move 10/18 & 10/19 updates from README.md to CHANGELOG.md"
#52 will need to be completed first.

Move the 10/18 and 10/19 updates to CHANGELOG.md to keep README.md from getting too cluttered.

[2017-10-21 01:01] jessecalton commented on #52
Hello! Has this hacktoberfest issue been claimed yet? I'll take a stab at it!

[2017-10-21 01:16] jessecalton commented on #53
I went ahead and submitted a PR. Cool to learn about changelogs! :)

[2017-10-21 07:28] kaysiz commented on #53
@scrabill i do not see 10/18 in the README.md

[2017-10-21 19:13] YendyH commented on #53
@scrabill I believe there's a grammatical (type) error in the README.md file.
I apologize as I am new to this, do I need to be added as a contributor to make a commit/pull request? I am having a hard time with this. I'm sorry if this is wrong place to put my comment.
Thank you!!

[2017-10-21 19:28] YendyH commented on #53
@scrabill I made a pull request for README.md.
I do see it when under the pull requests tab in "scrabill/how-many-days-until-halloween" but I can't see it under my created pull requests tab.
Did I submit the pull request correctly? Can you see it on your end?
I am new to this, and any feedback would be greatly appreciated. Thank you so much!

[2017-10-23 02:05] #52 closed

[2017-10-24 12:35] #33 closed

[2017-10-24 22:56] scrabill opened #68 "Fix: Correct Github usernames on Contributer-list.md"
A few of links in the [Contributor List](https://github.com/scrabill/how-many-days-until-halloween/blob/master/contributer-list.md) are broken and do not correctly link to the contributor's Github profiles.

Adding `https://` in front of all URLs should fix the issue.

For example, this:
`[Bill McClung](github.com/cfgauss)`

Should be something like this:
`[Bill McClung](https://github.com/cfgauss

[2017-10-25 03:55] scrabill commented on #53
Thanks for your patience everyone! I did not notice until today that I had comments on this issue.

@jessecalton Yes! I love changelogs. Here is another resource I've referenced: http://keepachangelog.com/en/0.3.0/

@kaysiz - This change has already been completed. I'll close this issue shortly.

@YendyH - Yes, I see your PR. I'll follow up there if there are any issues. Thanks!

[2017-10-25 03:55] #53 closed

[2017-10-25 03:58] #26 closed

[2017-10-25 04:04] scrabill commented on #53
@kaysiz - I realize now that I mistyped when I said 10/18. There were only the 10/19 and 10/17 updates at the time.

[2017-10-26 01:38] scrabill opened #79 "Enhancement: Add more variables to splashText array"
On page load, a randomly generated string is displayed in the `<h2>` tag of index.html. We have several spooky lines of text, but there is always room for more!

To add to the array, do the following:

1. Fork the repo
2. Download all files
3. Open [spookymain.js](https://github.com/scrabill/how-many-days-until-halloween/blob/master/js/spookymain.js)
4. Starting at line 21 you will see a variable

[2017-10-26 01:57] scrabill opened #80 "Documentation: Create CODE_OF_CONDUCT.md"
This project is currently lacking one.

Here is github's open source documentation on the topic:

- https://opensource.guide/code-of-conduct/

And here are other code of conduct templates/resources to reference

- http://todogroup.org/opencodeofconduct/
- https://www.contributor-covenant.org/

Overall, the code of content should hit on the following points:

- Beginners are welcome
- This is a saf

[2017-10-26 02:02] juanluischaurant commented on #80
I'ld like to work on this.

[2017-10-26 02:55] juanluischaurant commented on #80
Done! And thank you very much.

[2017-10-26 03:06] #80 closed

[2017-10-26 03:17] scrabill opened #82 "Documentation: Add Table of Contents to README.md"
It'll be helpful to have easy to access links to commonly referenced files on the homepage

Under the about paragraph, add links to the following pages (or any others that are relevent):

- [CHANGELOG.md](https://github.com/scrabill/how-many-days-until-halloween/blob/master/CHANGELOG.md)
- [CODE_OF_CONDUCT.md](https://github.com/scrabill/how-many-days-until-halloween/blob/master/CODE_OF_CONDUCT.md

[2017-10-26 03:38] scrabill opened #83 "Discussion: Add LICENSE.md"
Looking at the [Community Profile](https://github.com/scrabill/how-many-days-until-halloween/community) for this repo made me realize that I did not set up a license file for this project.

As stated in our [CODE_OF_CONDUCT.md](https://github.com/scrabill/how-many-days-until-halloween/blob/master/CODE_OF_CONDUCT.md) "Everyone is Welcome" to contribute to this project.

That said, I'm not sure whic

[2017-10-26 03:44] scrabill opened #84 "Documentation: Add PULL_REQUEST_TEMPLATE"
How-to can be found here:

- https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

I'm open to thoughts on how to best structure this. To start, I think the pull request template should have the following:
- Reference to the issue, if it applies: https://help.github.com/articles/basic-writing-and-formatting-syntax/#referencing-issues-and-pull-requests
- A line or

[2017-10-26 03:59] scrabill opened #86 "Enhancement: Adjust font sizes"
The fonts are looking a little small, especially the `<p>`. On mobile, it looks fine, but on desktop, it could use some adjusting (thing bigger, SCARIER!)

Attached is what it looks like on my 13in Macbook

![2017-10-25-23-58-](https://user-images.githubusercontent.com/17805262/32034426-85b90cae-b9e0-11e7-92be-254972fdfe75.png)

[2017-10-26 04:26] ishanyapa commented on #82
I'll take this one!

[2017-10-26 13:36] GautamMandsorwale commented on #79
Hey @scrabill ,

Please check and approve this PR [https://github.com/scrabill/how-many-days-until-halloween/pull/103]

Thanks Again!

- Gautam Mandsorwale

[2017-10-26 14:59] jamie29w commented on #86
Hi all, I'm looking to help out something for the first time, and this looks fun. I see that there is a Closed badge, but I'm not sure if that means the entire issue is closed or... Anyhow, please let me know if I can still help.

[2017-10-26 17:14] DynamiteC commented on #84
Can I still do this?
for the first timer?

[2017-10-30 02:56] scrabill commented on #84
@DynamiteC - This template has been created by another user, but I see some minor fixes if you would like them.

For example, I notice the PULL_REQUEST_TEMPLATE mentions PR instead of Pull Request. If you are comfortable with it go ahead and change all instances of PR to Pull Request within this document.

Let me know if you have other questions.

[2017-10-30 02:56] #84 closed

[2017-10-30 03:02] scrabill commented on #79
@GautamMandsorwale @mtrunt - Your additions have been merged!

[2017-10-30 03:04] #82 closed

[2017-10-30 03:13] scrabill commented on #86
@jamie29w - This issue is not closed yet. Other Githubber's have made contributions, but additional changes are welcome. For example, I think the `<h1>` text can still be larger.

[2017-10-30 03:17] scrabill opened #120 "Fix: Broken CSS declaration block"
I was wondering why a recent addition to the styles.css wasn't rendering.

While resolving merge conflicts, I accidentally deleted the second to the last closing curly bracket.

What I have is this:
[code]

And it should be this:
[code]

Simple fix. Perfect for a beginner or first timer

[2017-10-30 03:37] anthonyjuan commented on #120
Hi, I've changed it  #121

[2017-10-30 03:44] #120 closed

[2017-10-30 04:26] scrabill commented on #68
I'm noticing a few more links without `https://` included so I am reopening this issue

[2017-10-30 04:30] #83 closed

[2017-10-30 04:48] scrabill opened #123 "Documentation: Add link to contributor graph to the contributer-list.md"
In the first few weeks of this project, I did not have a contributer-list.md

To save a little time from having to go back and adding early contributor manually, we can cheat a bit and add a link to the insights page for this repository.

For this issue, I'd suggest adding something like this to the bottom of the contributer-list.md file:

`[And many more!](https://github.com/scrabill/how-many-day

[2017-10-30 08:20] royalmitten commented on #123
Hi, added the link in #126 :)

[2017-10-31 01:57] #123 closed

[2017-10-31 02:02] #86 closed

[2017-10-31 02:09] #68 closed

[2017-10-31 04:11] Aerisu commented on #79
I'll also add my spooky lines as well if that's alright with you @scrabill?

[2017-11-12 19:16] zzxoto commented on #79
Hey I have never done collaboration on GIT. I have a question. So, I make some changes and push the changes to my remote repo. Then how would that get merged into this repo? Correct me if I am wrong but I have a feeling that  its has got to do with pull request. How does that work. Can some one give me full process of how the whole contribution scheme works.

[2017-11-13 08:58] Aerisu commented on #79
@zzxoto This is a really good in-depth guide of how to properly do pull requests.
https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github
(Before I never forked, so sometimes other people's changes to the original repo would trickle down to mine.)

[2018-01-02 17:04] Deccahedron commented on #79
Hi @scrabill,

Please see and review my Pull Request for this Issue [here.](https://github.com/scrabill/how-many-days-until-halloween/pull/142)

Happy Halloween! 👻

[2018-07-23 08:54] arnava17 commented on #79
Hi @scrabill ,

Thanks for creating this.
[Here](https://github.com/scrabill/how-many-days-until-halloween/pull/146) is my first ever Git Pull request.

Please review this.

[2018-10-02 00:09] #1 closed

[2018-10-02 00:09] #24 closed

[2018-10-02 00:09] #79 closed

[2018-10-02 00:11] scrabill opened #147 "Delete rouge ":" file"
Not sure how [this](https://github.com/scrabill/how-many-days-until-halloween/blob/master/:) got here, but it can be deleted.

Super easy issues. Great for first-timers :)

[2018-10-02 00:14] scrabill opened #148 "Documentation: Improve CONTRIBUTING.md"
I copied last year [CONTRIBUTION.md](https://github.com/scrabill/how-many-days-until-halloween/blob/master/CONTRIBUTING.md) document, which can be improved on.

It would be nice to include dependencies, exact steps on how to fork this repo, etc to make this more user-friendly.

I'm open to ideas on this one.

[2018-10-02 00:15] MitchB09 commented on #147
I can pick this up. looking to get my first thing done for hactoberfest

[2018-10-02 06:29] Sagar1711 commented on #147
Hi,
I can pick this up looking for a project to contribute for the first time. I really want to contribute to an open source project.
Thanks

[2018-10-02 13:34] mizamelo opened #163 "URl with problems"
The url http://shannoncrabill.com/how-many-days-until-halloween/ is a problem.

[2018-10-02 16:54] scrabill commented on #163
Can you elaborate? How is it a problem?

[2018-10-03 22:51] scrabill commented on #147
This is closed by pull request #149

[2018-10-03 22:51] #147 closed

[2018-10-03 23:21] scrabill opened #174 "Enhancement: Add sheilds to README.md"
I'd like to add some shields to make some information easier to spot on the README.md.

Looking at what is available at [Sheilds.io](https://shields.io/#/examples/other), these are the shields that I think are best suited for this project.

* GitHub commit activity the past week, 4 weeks, year
￼* GitHub last commit

[freeCodeCamp](https://github.com/freeCodeCamp/freeCodeCamp) is a good example of

[2018-10-03 23:32] scrabill opened #175 "Documentation: ISSUE_TEMPLATE.md"
The purpose of an issue template is to guide Githubbers in providing detailed information when creating a new issue.

The main information I would like this issue template to include is as follows

* **Description of the feature, request or problem.** Be specific. If it is a bug, what happened? What were you expecting to happen? If you are looking to make an improvement, outline what you are sugge

[2018-10-03 23:37] Nerph commented on #174
I'll give this a go!

[2018-10-03 23:54] scrabill opened #178 "Documentation: PULL_REQUEST_TEMPLATE.md"
The purpose of a pull request template is to guide Githubbers in providing detailed information when opening a pull request. A template can help answer commonly asked questions, provide guidance and help to maintain a quality codebase.

The main information I would like the pull request template to include is as follows

* Descriptive name. Your pull request should have a descriptive name.

* Has

[2018-10-04 00:07] scrabill opened #179 "Documentation: CHANGELOG.md"
We need a changelog. [Last year](https://github.com/scrabill/how-many-days-until-halloween/blob/2017/CHANGELOG.md), I did a manual changelog to document what features are added over time. Recently discovered that there are ways to auto-generate changelogs based on your issues and commits.

This is the example I found: https://github.com/github-changelog-generator/github-changelog-generator

Is som

[2018-10-04 01:48] vincentt117 commented on #178
Hi, I'd like to work on this issue. Could you assign it to me? Thanks!

[2018-10-04 02:31] tonytheleg commented on #175
Hello, are you basically just looking for a markdown file with instructions on what to include for submitting bugs essentially? I think I can manage that!

[2018-10-04 03:52] cajuuh commented on #179
we use [commitizen](http://commitizen.github.io/cz-cli/) at work, see if it matches your specs if you want i could take care of implementation

[2018-10-04 04:35] naufaldi commented on #148
I'll take this one, may be try to add "how to fork this repo"

[2018-10-04 04:52] naufaldi commented on #175
hello, i will try to provide making template for issue template. May be try about feature and problem template.

[2018-10-06 00:48] scrabill opened #185 "Documentation: List of technologies used in project"
Based off an idea from @nikoheikkila and myself from #166

As cool things are added to this project, we should document what they are for future reference.

Here's what I'm thinking.

- Let's start a new header on README for Technologies.
- Under that, we can list each technology used with a link to their documentation, site, repo, etc
- Optional, a short description explaining what the technology

[2018-10-06 01:31] triangulum commented on #185
Hi! So, as far as I can tell, you're using the following *technologies*:

- [JavaScript](https://developer.mozilla.org/en-US/docs/Web/JavaScript)
  - [JQuery](https://jquery.com/)
  - [Moment.js](https://momentjs.com/)
- [Bootstrap](http://getbootstrap.com/)

Where are you hosting the website (and could it be hosted by GitHub Pages)?

[2018-10-06 01:34] scrabill commented on #185
I'm hosting the site on the server I use for my blog/portfolio site.

I guess it could be hosted on GitHub pages. What's the pro / cons for traditional hosting vs Github Pages

[2018-10-06 01:39] scrabill opened #187 "Enhancement: Design a Cool Header Image for README"
## I'm submitting a...
<pre><code>
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## If this is a feature request please fill out the following:
<pre><code>
As a (user, developer, contributor, etc): User
I want: To see a spiffy, engaging banner image on README
So that: It's not as much of a wall of text

</code></pre>

## Additional Information

I like what [f

[2018-10-06 01:46] scrabill opened #188 "Enhancement: Improve Rendering for Mobile Devices"
## I'm submitting a...
<pre><code>
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

On smaller screens (simulated in a browser window) the spooky text is really small and everything seems squashed at the top of the screen. The default CSS can be tweaked so that there is a better visual for anyone viewing this on a mobile device.

For exampl

[2018-10-06 01:48] triangulum commented on #185
Pages is convenient (code on GitHub), quick (just edit, push, and changes are live) and free! Great if you don't have your own server.

[2018-10-06 01:51] bereninga commented on #188
I'd like to take this on.

[2018-10-06 02:04] scrabill commented on #188
@bereninga Go for it

[2018-10-06 02:18] bereninga commented on #188
@scrabill I've created a PR for this change. Let me know if I might've misunderstood the task.

[2018-10-06 02:22] scrabill opened #190 "Bug: Broken link in CONTRIBUTING.md"
About halfway down, the Hacktoberfest link is broken.

This is what is there currently

`
Make sure you are registered for the [HacktoberFest] before you start!(https://hacktoberfest.digitalocean.com/)

`

[2018-10-06 02:34] triangulum commented on #185
I've created a pull request with a proposed solution!

[2018-10-06 02:48] amrs-tech commented on #190
@scrabill I'll try to fix it

[2018-10-06 02:52] amrs-tech commented on #190
Please review my PR and merge if it's okay :)

[2018-10-06 03:44] thevenice commented on #188
I have done a PR for changes , i added  dynamic sizing for fonts to adjust on any size of device for this issue + added a suggestion  for new features ideas too.

[2018-10-08 18:22] stufinn opened #199 "Make background color the same over whole page"
## I'm submitting a...
<pre><code>
[ ] Bug report
[X] Feature request/enhancement
[ ] Documentation issue or request
</code></pre>

## Current behavior
Background color of body element is slightly different from the div with class jumbotron.

## Expected behavior
If background color of body and jumbotron are the same, the site may look more visually appealing.

## Minimal reproduction of the probl

[2018-10-08 20:11] stufinn commented on #199
I'm realizing now that the dual colors are probably intentional, so feel free to ignore this issue and associated PR if that's the case!

[2018-10-09 16:07] stufinn opened #201 "Add feature: Random costume generator"
## I'm submitting a...
<pre><code>
[ ] Bug report
[X] Feature request
[ ] Documentation issue or request
</code></pre>

## If this is a feature request please fill out the following:
<pre><code>
As a user:

I want: Assistance with DIY Halloween costume ideas.
So that: When I click a button, I get a random costume idea with a url to a sample image.

Motivation:

Visitors to the site may, like mysel

[2018-10-12 16:53] stufinn commented on #199
Looked through closed PRs and saw that the dual-colors was an intentional design decision.  Closing this issue and associated PR!

[2018-10-12 16:53] #199 closed

[2018-10-14 21:28] scrabill commented on #163
@mizamelo @stufinn

Good find. If there isn't already a PR fix for this, either of you are welcome to make that correction

[2018-10-14 21:30] scrabill commented on #163
The video link that was originally added can be found here #152

[2018-10-14 22:28] scrabill commented on #190
Thanks! Your fix has been merged

[2018-10-14 22:28] #190 closed

[2018-10-14 23:10] scrabill opened #205 "Documentation: Remove or Update "New features" link from CONTRIBUTING.md"
## This request is for
[x] Beginners
[x] First Timers
[x] Non-Coders (Markdown knowledge needed)

## I'm submitting a...
<pre><code>
[ ] Bug report
[ ] Feature request
[X] Documentation issue or request
</code></pre>

## Current behavior

Currently, the [New features](https://github.com/scrabill/how-many-days-until-halloween/issues/1) link on [CONTRIBUTING.md](https://github.com/scrabill/how-many-

[2018-10-14 23:14] scrabill opened #206 "Documentation: Remove "fonts folder" link from CONTRIBUTING.md"
## This request is for
[x] Beginners
[x] First Timers
[x] Non-Coders (Markdown knowledge needed)

## I'm submitting a...
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request

## Current behavior

The [Fonts folder](https://github.com/scrabill/how-many-days-until-halloween/tree/master/fonts) link in [CONTRIBUTING.md ](https://github.com/scrabill/how-many-days-until-halloween/blob/m

[2018-10-14 23:30] scrabill opened #207 "Enhancement: Add Fork me on Github Ribbon OR Github Corner"
## This request is for

[x] Beginners
[x] First Timers
[x] Intermediate (If you want to do any customizations)
[] Non-Coders (Markdown knowledge needed)
[x] Coders (Some HTML knowledge may be needed)

## I'm submitting a...

[ ] Bug report
[x] Feature request
[ ] Documentation issue or request

I've been wondering where people were getting those cool [Github Corner](https://github.com/tholman/gith

[2018-10-15 00:02] eharris99 commented on #205
hi I will take care of this

[2018-10-15 00:03] ggangliu commented on #206
May i fix This issue?

[2018-10-15 00:34] eharris99 commented on #207
I will do this

[2018-10-15 01:29] sartajsgill commented on #206
Sorry @scrabill, I didnt see the comment that @ggangliu was working on this too. Feel free to merge his pull request if submitted.

[2018-10-15 02:04] yatri1609 commented on #174
Is this still open @scrabill ? If so I would like to work on this issue

[2018-10-15 02:04] yatri1609 commented on #148
@scrabill I would like to work on this issue. Can I?

[2018-10-16 06:43] tristandenyer commented on #206
Just wanted to say thanks for posting this. I was inspired by it to post my own first issue to support the first-timers-only label, as well as supporting designers contributing to GitHub projects. I found your issue docs so useful that I borrowed heavily from it for mine. Thx!

[2018-10-24 22:56] scrabill commented on #174
@yatri1609

If there's another shield that you think would be useful, feel free to add it!

[2018-10-24 23:15] #163 closed

[2018-10-24 23:21] scrabill commented on #206
@sartajsgill No worries! Feel free to make any adjustments or submit a totally new PR

@tristandenyer :) Thank you for taking the time to comment! Happy to have inspired someone to give open source a try.

[2018-10-25 01:24] scrabill opened #218 "Bug: Countdown logic is off by 1"
This request is for
[x] Beginners (maybe, this will take some debugging)
[x] First Timers
[x] Coders

## I'm submitting a...
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request

## Current behavior

Today is Wednesday, October 24. Halloween is next Wednesday, which should be 7 days away. Currently, the countdown timer is saying it is 6 days away. 31-24 _should_ be 7 days away.

!

[2018-10-25 03:15] lnchapin commented on #218
I can do this

[2018-10-25 03:44] tagpro commented on #218
/requset

[2018-10-25 03:57] StevePaytosh commented on #218
similar solution as tagpro applied.

https://github.com/scrabill/how-many-days-until-halloween/pull/220

[2018-10-27 23:32] #218 closed

[2018-10-27 23:40] #207 closed

[2018-10-27 23:55] scrabill commented on #178
I'm noticing while the current pull request template has fields that are helpful and could be relevant, they are mostly being submitting as blank or incomplete. Not the end of the world since the PR title usually tells me what I need to know. The long pull request template _might_ be intimidating for new coders, so I'd like to shorten to be no more than 1-2 paragraphs.

Open to discussions on this

[2018-10-28 04:16] scrabill opened #226 "Enhancement: Add a Halloween fact"
@brandonstinson added a list of [random Halloween facts](https://github.com/scrabill/how-many-days-until-halloween/pull/170) that generate on page load.

The facts (strings) are stored in a facts array. Adding a new item to this array is an easy, first-timer-friendly pull request.

- Within script.js, look for the comment `// Array of Halloween facts`.
- Add a new fact to the facts array (try to k

[2018-10-28 04:43] scrabill opened #227 "Documentation: Refactor styles.css"
Our styles.css file is getting a little jumbled. Adding some section headers for common groups of CSS (fonts, links, mobile styles, etc) will help to keep this file easy to read, add to and maintain.

[2018-10-28 05:14] ibokg commented on #227
@scrabill I take this task

[2018-10-28 05:17] shoutoutloud commented on #226
Hi, can I help with this issue.

[2018-10-28 17:04] jonathanfrancisco commented on #226
#232

[2018-10-28 17:04] jonathanfrancisco commented on #226
#232

[2018-10-28 18:23] scrabill opened #253 "Enhancement: Add Halloween Costume Ideas"
@stufinn added a feature that will randomly generate a new [Halloween custom idea](https://github.com/scrabill/how-many-days-until-halloween/pull/202).

Adding a new costume idea is a very easy addition that is beginner or first-timer friendly.

- Open scripts.js and look for `// Script for Random Costume Picker`
- Add an object to the `costumes` array with the costume name and a link to an image

[2018-10-28 19:33] Scriptle commented on #226
#255

[2018-10-28 20:04] stufinn commented on #253
Thanks for adding this! I agree that's a great idea for a good first issue.

[2018-10-29 12:43] rjdoughty commented on #253
#272

[2018-10-29 12:46] rjdoughty commented on #253
#272  **Added incredibles costume idea line 205 issue 253** #272 #

[2018-10-29 12:48] rjdoughty commented on #253
#272 Added incredibles costume idea line 205 issue 253 #

[2018-10-30 20:25] Scriptle opened #292 "The Website Isn't Up-To-Date"
## I'm submitting a...

<pre><code>
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

The recent costume ideas and facts aren't implemented on the website.

## Expected behavior

The recent costume ideas and facts should be implemented on the website.

## Minimal reproduction of the problem with instructions

## If this is a feature request p

[2018-10-30 23:34] scrabill commented on #292
@Scriptle

The updates from the repo to the website are not automated. It's just me working on this, but I plan on pushing more updates to the site tonight

[2018-10-30 23:55] Scriptle commented on #292
Oh right. Keep up the good work :)

[2018-10-30 23:56] #292 closed

[2018-11-19 09:37] chansen17 commented on #226
Super old! But is it still cool to add a Holloween fact!? For practice sake, thanks. D;

[2018-12-11 17:38] leighdamico commented on #253
Is it still possible to contribute on this issue or was it exclusively for Hacktoberfest?

[2019-01-27 14:13] duyphaphach opened #319 "BugFix: Fix a typography error in the website's footer"
## I'm submitting a...

<pre><code>
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

The website footer contains a typography error
![image](https://user-images.githubusercontent.com/40330059/51801936-eda4da00-2276-11e9-87e3-fc35ce038e4c.png)

## Expected behavior
The text should be `Bootstrap`
## Environment

<pre><code>
Browser:
- [X] Chro

[2019-10-01 18:53] gabLaroche opened #326 "Enhancement: Migrate the facts and costumes array to different javascript files"
## I'm submitting a...

<pre><code>
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## If this is a feature request please fill out the following:

<pre><code>
As a contributor:
I want to take these two arrays into seperate files
So that the code is more readable.

I would put them in seperate files and call them in script.js as ES6 modules (no need to add depe

[2019-10-02 17:34] lacexd commented on #174
is it still open?

[2019-10-04 14:53] g-ravity commented on #326
I would like to take this up, if it's unassigned as of yet

[2019-10-06 07:44] JHero23 commented on #227
@scrabill Refactored and labeled sections. :)

[2019-10-09 17:16] vansosnin commented on #319
Done :)

[2019-10-19 02:55] #148 closed

[2019-10-19 02:55] #174 closed

[2019-10-19 02:55] #175 closed

[2019-10-19 02:55] #178 closed

[2019-10-19 02:55] #179 closed

[2019-10-19 02:55] #188 closed

[2019-10-19 02:55] #201 closed

[2019-10-19 02:55] #205 closed

[2019-10-19 02:55] #226 closed

[2019-10-19 02:55] #227 closed

[2019-10-19 02:55] #253 closed

[2019-10-19 03:07] scrabill opened #358 "Update Mobile Styling"
Because of the font-size and length of the word `Halloween` the current design does not scale well on smaller screens.

![Screen Shot 2019-10-18 at 11 05 07 PM](https://user-images.githubusercontent.com/17805262/67136945-ee620f80-f1fb-11e9-99b8-fd04bedee99c.png)

Some Ideas

- Add a media query so that the font size is scaled down appropriately on smaller screens.

[2019-10-19 03:08] scrabill opened #359 "Add License"
MIT license is a good one.

[2019-10-19 03:09] scrabill opened #360 "Update contributing document"
What I currently have on the README is very quickly going to get out of hand. I would like to have an in-depth contributing document to help contributors get started with quality submissions.

[2019-10-19 03:14] scrabill opened #361 "Clarify contributing instructions"
Related to #360, I could use help coming up with clear contribution language. Perhaps, something I can use year after year.

What I would like it to include

- How to close this repo, including which branch to focus on (the master branch)
- How to make quality contributions that are in line with the spirit of Hacktoberfest and this project
- Best practices for naming branches, refactoring, etc.
-

[2019-10-19 03:18] clussell commented on #358
Can I take this?

[2019-10-19 05:57] srinivasan1995 commented on #359
shall i look into this ?

[2019-10-19 06:00] praveen-manick commented on #361
I would like to take this up

[2019-10-19 06:15] srinivasan1995 commented on #359
offered a pull request for the same

[2019-10-19 06:51] ananya218 commented on #360
I would like to work on it .

[2019-10-19 06:59] mohamedsgap opened #367 "Adding icon logo in title bar"
Why not add an icon logo in the title bar ?

[2019-10-19 09:51] sahil-9 commented on #359
Added License.md file with @scrabill your name. Please look into the PR

[2019-10-19 10:02] srinivasan1995 commented on #367
i will take it up

[2019-10-19 12:22] codeKing2020 opened #375 "Add grid image"
Added images (three) with grid display and justify-content set to space between

[2019-10-19 12:25] LewiT-2006 commented on #375
[how-many-days-until-halloween-master (1).zip](https://github.com/scrabill/how-many-days-until-halloween/files/3746655/how-many-days-until-halloween-master.1.zip)

[2019-10-19 17:03] preetilolla commented on #360
If this has not been completed, I would like to work on this issue.

Please let me know if I can take this up.

[2019-10-19 17:10] ananya218 commented on #360
Sure...go ahead.

On Oct 19, 2019 10:33 PM, "Preeti Lolla" <notifications@github.com> wrote:

[2019-10-19 17:43] alt-glitch commented on #361
I am interested in working on this. Excited for my first real contribution to open source!!

[2019-10-19 18:05] alt-glitch opened #377 "Working on issue #361"
I am not sure whether this is the right place to clarify..
But as issue #361 said, you would like an instructions page for contribution, right?
I would be just writing down the pointers covering how to start with open source and pull requests and how to find and make valuable contributions and cite some sources which helped me, also a first timer, out on how to get familiar with GitHub.
Hoping you

[2019-10-20 05:51] imadarshj commented on #360
@scrabill  I have created a pull request see if you like it or not !

[2019-10-23 01:32] scrabill commented on #358
@clussell Feel free to add any improvements!

[2019-10-23 01:49] scrabill commented on #375
@LewiT-2006 Hello! Were you looking to add these to the README or to the website it's self?

[2019-10-23 01:55] #359 closed

[2019-10-23 01:56] scrabill commented on #360
A contributing doc has been added, but I am leaving this issue open if there are changes that should be made that would help to clarify for other users.

[2019-10-23 01:57] scrabill commented on #360
Nvm, closing this issue since #361 already exists for updates.

[2019-10-23 01:57] #360 closed

[2019-10-23 01:58] scrabill commented on #377
@alt-glitch Hey! There have been a few PRs with additions/creating a contributing doc (and some pending updates) BUT now that you say it, having a link to the contributing doc from the index.html page is a good idea. Did you want to make that update?

[2019-10-23 02:01] alt-glitch commented on #377
Yes I would love to. I will be getting right on it in some hours after my college is over :)

[2019-10-23 02:22] scrabill opened #390 "A special message on Friday the 13th?"
This is something I've been thinking about for a while. In addition or in place of the usually X days until, what if there is a "Happy Friday the 13th" message for the rest of the year?

[2019-10-23 02:26] scrabill commented on #326
Hi all. The facts/costumes were part of the 2018 build BUT if you would like to port the functionality (or something similar) to the 2019 version (the current master branch), I'd be ok with that.

[2019-10-23 02:27] scrabill commented on #319
I'm closing this issue since this is part of the 2018 build

[2019-10-23 02:27] #319 closed

[2019-10-23 02:28] collinsnji commented on #390
I can work on this one :)

[2019-10-24 09:26] akashraj98 opened #398 "The text in website is aligned towards left. It will looks more better in centre."

[2019-10-24 09:29] #398 closed

[2019-10-24 18:20] scrabill opened #402 "Collaborative story?"
I've been thinking about this for a while. It might be fun to add a page, separate from the countdown timer, that is a collaborate story, [similar to this](https://www.fatherly.com/play/this-simple-storytelling-game-flexes-your-kids-creative-muscles/).

Each contribution could be one line of text. Or a few. The main _rule_ would be to leave a cliffhanger for the next person to add onto. A possible

[2019-10-24 19:02] familysimpson commented on #367
I'd like to take this on.

[2019-10-24 19:03] Racing5372 commented on #402
I'd like to work on this issue

[2019-10-24 19:10] collinsnji commented on #390
@samanthakem please, understand open source is not about who makes the fastest PR. It's more about collaborating on a project towards achieving a common goal. Open Source is not a contest of who's a better programmer, but rather how well you can work with others to build solutions to the problems you both care about. In the future, if you want to submit a PR to an issue, please ask who is currentl

[2019-10-24 19:19] collinsnji opened #405 "Consider using flexbox or grid for alignment"
@scrabill Instead of using absolute positions, why not consider using flexboxes or grids for alighment of elements? This does not only make alignment smoother, but the code can also easily target mobile devices and scale accordingly.

[2019-10-24 19:31] adsingh14 commented on #358
@scrabill  I'm working on it !

[2019-10-24 20:02] samanthakem commented on #390
I fully agree with you in every single word @collinsnji, that's why I love open source. However you need to keep in mind that delaying to submit a solution, even a simple one like that, might slow down the project development. Another good thing about open source is that you get to see different solutions about the same problem, like I said in my previous comment "Either way, feel free to submit a

[2019-10-24 20:06] adsingh14 commented on #358
@scrabill Have a look on [this PR](https://github.com/scrabill/how-many-days-until-halloween/pull/408). I've also curated the code and made it looking good on all mobile devices.

[2019-10-27 12:31] LewiT-2006 commented on #375
You can use it for your website if you want, but basically I was doing it
for the Hacktober fest. Heard about it? It's pretty fun.

On Wed, 23 Oct 2019 at 03:49, Shannon Crabill <notifications@github.com>
wrote:

[2020-09-23 15:01] mfonism commented on #402
Hi @scrabil,

Is this issue still open for Hacktoberfest 2020?

My friends will be spending a weekend at my place, and I'd like to chip this in as a fun, learning activity.

[2020-09-23 15:01] mfonism commented on #402
Hi @scrabill,

Is this issue still open for Hacktoberfest 2020?

My friends will be spending a weekend at my place, and I'd like to chip this in as a fun, learning activity.

[2020-10-03 03:48] #326 closed

[2020-10-03 03:48] #358 closed

[2020-10-03 03:48] #361 closed

[2020-10-03 03:48] #367 closed

[2020-10-03 03:48] #375 closed

[2020-10-03 03:48] #377 closed

[2020-10-03 03:48] #390 closed

[2020-10-03 03:48] #402 closed

[2020-10-03 03:48] #405 closed